*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.km-nav
{
  background:#222;
  padding:25px 0;
  border: 0;
}

.km-nav .logo{
    font-family:cursive;
    color:#fec503;
}
.banner1{
    background: url('imges/header-bg.jpg');
    display: flex;
    align-items: center;
    height:100vh;
    color: #f8f8f8;
    background-size:cover;
}
    

.text-intro h2{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
 
}

/*.navbar-transparent{
    background: transparent;
    border: 0;
}*/
h1{
   
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    padding-bottom: 50px;
}
.km-sect{
    padding:100px 0;
}
section h3 ,.section-subheading {
    font-size: 16px;
    font-style:italic; 
    font-weight: 400;
    margin-bottom: 75px;
}
.text-muted{
    color:#777;
}
.fa-stack{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.text-primary{
    color:#fed136;
}
.fa-stack-2x {
    font-size: 2em;
}
.stack-2x{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#fed136;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
    font-weight: 600;
}



.service-heading {
    margin: 15px 0;
   
}
.section-heading{
   font-weight: 700;
    font-size:40px;
   
    
    
}
.service-heading{
    font-weight:700;
    font-size:18px;
}
.sector{
    padding: 150px 0;
}
.banner{
    background-color:#eee;
    padding:100px 0;
}
.komal{
    margin-bottom: 30px;
}
.portfolio-caption {
    max-width: 400px;

    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    padding:20px;
}
.portfolio-caption p {
    font-size: 16px;
    margin: 0;
    font-style: italic;
    }
    .container-second{
        margin-top: 30px;
    }
    

 .team-member {
    margin: 0 auto;
  
}
.img-circle {
    border-radius:100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


    .tp-imgs {
    max-width:230px;
    height: auto;
    border-radius: 100%;
    width: 100%;
    border: 7px solid #fff;
    
    display: block;
    margin: auto;
}

 h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
}
p {
    font-size: 14px;
    line-height: 1.75;
    font-style:Helvetica;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
  
}
.social-buttons li a:hover {
    background-color: #fed136;
}
p.large   {
    font-size:16px;
    margin:20px;
}
.client img{
    margin:50px auto;
}
.client-img{
    display:block;
    max-width: 100%;
}
section#contact {
  background-color: #222222;
  background-image: url('imges/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
 section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 20px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
.btn-xl{
        color:#fff;
        background-color:#fed136;
        border-color: #f6bf01;
        border-radius: 3px;
        font-size:18px;
        padding:20px 40px;
         border: 1px solid transparent;
         font-weight:700;
     }
     .btn-xl:hover{
         background :#fec503; 
     }

    
     
   .timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
   padding: 8px;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
 
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.footer-icons{
         margin:25px auto;
}
.quicklinks{
    padding-top: 10px;
}


     



 

     
 
    




   




     

